<header class="header">
  <div class="container header__container">
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Shop</a></li>
        <li class="nav__item">
          <a class="nav__link nav__link--current">Elements</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Page</a></li>
      </ul>
    </nav>

    <a class="logo header__logo" href="#" aria-label="logo">
      <svg>
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>
  </div>
</header>
