// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Jost-Medium", sans-serif;
  --content-width: 1820px;
  --container-offset: 38px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-black: #000;
  --color-light: #fff;
  --color-dark: #151515;
  --quill-gray: #e5e5e3;
  --color-gray: #858585;
  --color-tundora: #454545;
}
